In [36]:
import csv
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [37]:
df_airports = pd.read_csv('airports.csv')

In [38]:
df_airlines = pd.read_csv('airlines.csv')

In [39]:
df_hdata = pd.read_csv('historic_data.csv', low_memory=False)

In [40]:
df_validate = pd.read_csv("future_data.csv", low_memory=False)

In [41]:
df_hdata['SCHEDULED_DEPARTURE'] = pd.to_datetime(df_hdata['SCHEDULED_DEPARTURE'], 
                            format='%Y-%m-%d', 
                            errors='coerce')
df_hdata['DEPARTURE_TIME'] = pd.to_timedelta(df_hdata['DEPARTURE_TIME'], 
                            errors='coerce')
df_hdata['SCHEDULED_ARRIVAL'] = pd.to_timedelta(df_hdata['SCHEDULED_ARRIVAL'], 
                            errors='coerce')
df_hdata['ARRIVAL_TIME'] = pd.to_timedelta(df_hdata['ARRIVAL_TIME'], 
                            errors='coerce')
df_hdata['SCHEDULED_TIME'] = pd.to_timedelta(df_hdata['SCHEDULED_TIME'], 
                            errors='coerce')

In [42]:
import matplotlib.pyplot as plt

In [43]:
df_hdata[df_hdata.CANCELLED ==1]

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,...,DISTANCE,WHEELS_ON,TAXI_IN,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2,2019-03-01 00:01:00,NaT,0 days 01:53:00,NaT,EV,4682,N15910,ORD,BHM,NaN,...,584,NaN,NaN,1,B,NaN,NaN,NaN,NaN,NaN
24,2019-03-01 00:07:00,0 days,0 days 02:35:00,NaT,OO,6315,N745SK,DEN,ICT,-7.0,...,420,NaN,NaN,1,B,NaN,NaN,NaN,NaN,NaN
29,2019-03-01 00:08:00,NaT,0 days 02:39:00,NaT,OO,6378,N957SW,DEN,LBB,NaN,...,456,NaN,NaN,1,B,NaN,NaN,NaN,NaN,NaN
37,2019-03-01 00:11:00,NaT,0 days 02:59:00,NaT,UA,1881,NaN,ORD,IAD,NaN,...,588,NaN,NaN,1,A,NaN,NaN,NaN,NaN,NaN
38,2019-03-01 00:11:00,NaT,0 days 03:38:00,NaT,UA,1489,NaN,DEN,MEM,NaN,...,872,NaN,NaN,1,B,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458496,2019-07-31 22:59:00,NaT,0 days 00:25:00,NaT,B6,2002,N565JB,JFK,BUF,NaN,...,301,NaN,NaN,1,C,NaN,NaN,NaN,NaN,NaN
2458519,2019-07-31 23:06:00,NaT,0 days 07:40:00,NaT,B6,670,N612JB,SJC,JFK,NaN,...,2569,NaN,NaN,1,B,NaN,NaN,NaN,NaN,NaN
2458520,2019-07-31 23:09:00,NaT,0 days 05:00:00,NaT,B6,994,N595JB,DEN,BOS,NaN,...,1754,NaN,NaN,1,C,NaN,NaN,NaN,NaN,NaN
2458558,2019-07-31 23:29:00,NaT,0 days 02:16:00,NaT,B6,551,N589JB,TPA,SJU,NaN,...,1237,NaN,NaN,1,A,NaN,NaN,NaN,NaN,NaN
2458597,2019-07-31 23:55:00,NaT,0 days 05:45:00,NaT,NK,654,N519NK,PDX,ORD,NaN,...,1739,NaN,NaN,1,A,NaN,NaN,NaN,NaN,NaN

In [45]:
df_hdata[df_hdata['CANCELLED'] ==1].groupby('AIRLINE').size().nlargest(5)

AIRLINE
WN    6508
EV    5811
MQ    4686
OO    4623
AA    4043
dtype: int64

In [51]:
delay = df_hdata[df_hdata['ARRIVAL_TIME'].notnull()]

In [52]:
delay[delay['ARRIVAL_TIME'] > delay['SCHEDULED_TIME']].groupby('AIRLINE').size().nlargest(5)

AIRLINE
WN    529941
DL    375048
AA    314913
OO    242845
EV    227583
dtype: int64

In [29]:
plt.bar(df_hdata['AIRLINE'], count(df_hdata['CANCELLED']))

NameError: name 'count' is not defined

In [7]:
#dropping the rows with cancelled flights
df_hdata=df_hdata[df_hdata.CANCELLED ==0]

In [8]:
df_hdata=df_hdata.drop(columns=['DEPARTURE_TIME', 'DEPARTURE_DELAY', 'CANCELLED', 'CANCELLATION_REASON', 'TAXI_OUT', 'WHEELS_OFF', 'ELAPSED_TIME', 'AIR_TIME','WHEELS_ON', 'TAXI_IN', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'])

In [9]:
df_hdata=df_hdata.dropna(subset=['ARRIVAL_TIME'])

In [10]:
df_hdata.isna().sum()

SCHEDULED_DEPARTURE    0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_TIME         0
DISTANCE               0
dtype: int64

In [11]:
Y = df_hdata['ARRIVAL_TIME']
X = df_hdata.loc[:, df_hdata.columns!='ARRIVAL_TIME']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [13]:
categorical_cols = ['AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']

In [20]:
X_train

,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE
1598366,2019-06-09 12:56:00,0 days 15:53:00,AA,372,N566AA,DEN,DFW,0 days 00:00:00.000000117,641
7080,2019-03-01 12:15:00,0 days 13:25:00,WN,967,N734SA,BUR,OAK,0 days 00:00:00.000000070,325
1505315,2019-06-03 18:48:00,0 days 21:19:00,OO,2792,N907SW,PHX,GJT,0 days 00:00:00.000000091,438
1833593,2019-06-23 14:40:00,0 days 15:25:00,WN,227,N419WN,GSP,MDW,0 days 00:00:00.000000105,562
969587,2019-05-02 10:55:00,0 days 12:45:00,WN,3439,N456WN,ABQ,PDX,0 days 00:00:00.000000170,1111
...,...,...,...,...,...,...,...,...,...
997663,2019-05-04 07:00:00,0 days 09:41:00,EV,3843,N15912,ORD,ROC,0 days 00:00:00.000000101,528
865604,2019-04-26 06:40:00,0 days 09:05:00,DL,2050,N823DN,ORD,DTW,0 days 00:00:00.000000085,235
375148,2019-03-25 06:50:00,0 days 08:00:00,WN,2854,N8657B,MCI,LAS,0 days 00:00:00.000000190,1139
1763776,2019-06-19 11:45:00,0 days 13:05:00,AS,55,N768AS,BRW,FAI,0 days 00:00:00.000000080,503
2406816,2019-07-28 16:47:00,0 days 19:29:00,DL,1374,N362NW,OAK,SLC,0 days 00:00:00.000000102,588

In [14]:

one_hot_columns = pd.get_dummies(X_train[categorical_cols])
one_hot_columns.head()

MemoryError: Unable to allocate 8.52 GiB for an array with shape (4718, 1939864) and data type uint8

# Data Preprocessing with Pandas
Preprocessing is the process of doing a pre-analysis of data, in order to transform them into a standard and normalized format.
Preprocessing involves the following aspects:
- missing values
- data formatting
- data standardization
- data normalization
- data binning

#Missing Values

In [ ]:
X_train.isna().sum()

In [ ]:
df_hdata.shape

#Drop Missing Values

In [ ]:
drop_data = df_hdata.dropna(thresh=0.8*len(df_hdata), axis = 1)
#axis=0 drop row while axis=1 drop coulm 
#inplace = True to store changes in the original dataframe

In [ ]:
print('Dimensions of the dataset:',df_hdata.shape)
print('Dimensions after removing columns:',drop_data.shape)

#Replace missing values

In [ ]:
df_hdata.dtypes

#Numerical Columns

In [ ]:
import numpy as np
numeric = df_hdata.select_dtypes(include=np.number)
numeric_columns = numeric.columns
print(numeric_columns)

In [ ]:
df_rp= df_hdata
df_rp[numeric_columns]= df_rp[numeric_columns].fillna(df_rp[numeric_columns].mean())
#replace numeric data with its column mean

In [ ]:
df_rp.isna().sum()

#categorical columns

In [ ]:
boolean_columns = df_rp.select_dtypes(include=object).columns.tolist()

print(boolean_columns)
df_rp[boolean_columns] = df_rp[boolean_columns].astype('bool')

In [ ]:
df_rp[boolean_columns]= df_rp[boolean_columns].fillna(df_rp[boolean_columns].mode())

In [ ]:
df_rp.isna().sum()

In [ ]:
df_rp.head()

In [ ]:
df_rp[df_rp.duplicated(keep=False)]