In [1]:
import csv
import pandas as pd

In [2]:
df_airports = pd.read_csv('airports.csv')

In [3]:
df_airlines = pd.read_csv('airlines.csv')

In [4]:
df_hdata = pd.read_csv('historic_data.csv', low_memory=False)

In [5]:
df_airlines = pd.read_csv("future_data.csv", low_memory=False)

In [6]:
df_hdata.head
#df_hdata.sample(3)
#df_hdata.info()
#df_hdata.describe()
#df_hdata.keys
#df_hdata.tail
#df_hdata['DEPARTURE_DELAY']
#df_hdata['DEPARTURE_DELAY'].describe()
#df_hdata['DEPARTURE_DELAY'].value_counts()
#departuredelay = df_hdata['DEPARTURE_DELAY'].values
#len(departuredelay)
#display(departuredelay)
#df_hdata['DEPARTURE_DELAY'].hist()
#df_hdata.plot.scatter(x='AIRLINE', y='DEPARTURE_DELAY')
#df_hdata['DEPARTURE_DELAY'].hist(by = df_hdata['AIRLINE'],
 #                     bins = 20);
#pd.crosstab(df_hdata['ORIGIN_AIRPORT'], df_hdata['AIRLINE'])
#pd.crosstab(df_hdata['ORIGIN_AIRPORT'], df_hdata['AIRLINE'],normalize='index')

<bound method NDFrame.head of          SCHEDULED_DEPARTURE DEPARTURE_TIME SCHEDULED_ARRIVAL ARRIVAL_TIME  \
0        2019-03-01 00:01:00       00:02:00          01:37:00     01:20:00
1        2019-03-01 00:01:00       00:29:00          01:33:00     01:52:00
2        2019-03-01 00:01:00            NaN          01:53:00          NaN
3        2019-03-01 00:02:00       23:59:00          03:04:00     02:56:00
4        2019-03-01 00:02:00       00:36:00          03:22:00     03:30:00
...                      ...            ...               ...          ...
2458623  2019-07-31 23:59:00       23:54:00          05:39:00     05:22:00
2458624  2019-07-31 23:59:00       00:50:00          05:55:00     06:42:00
2458625  2019-07-31 23:59:00       00:49:00          06:00:00     07:03:00
2458626  2019-07-31 23:59:00       01:23:00          03:47:00     04:59:00
2458627  2019-07-31 23:59:00       00:13:00          08:30:00     09:03:00

        AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  \
0            UA           1238      N812UA            DEN                 BIL
1            EV           6134      N14171            ORD                 BNA
2            EV           4682      N15910            ORD                 BHM
3            UA           1550      N822UA            ORD                 BTV
4            UA           1502      N33262            ORD                 BOS
...         ...            ...         ...            ...                 ...
2458623      AA           1496      N3MJAA            LAS                 ORD
2458624      AA           1283      N3GEAA            SEA                 ORD
2458625      AA            219      N3LKAA            LAX                 ORD
2458626      B6           1503      N592JB            JFK                 SJU
2458627      B6            276      N712JB            OAK                 BOS

         DEPARTURE_DELAY  ...  DISTANCE  WHEELS_ON  TAXI_IN  CANCELLED  \
0                    1.0  ...       455      117.0      3.0          0
1                   28.0  ...       409      144.0      8.0          0
2                    NaN  ...       584        NaN      NaN          1
3                   -3.0  ...       763      252.0      4.0          0
4                   34.0  ...       867      326.0      4.0          0
...                  ...  ...       ...        ...      ...        ...
2458623             -5.0  ...      1514      518.0      4.0          0
2458624             51.0  ...      1721      625.0     17.0          0
2458625             50.0  ...      1744      647.0     16.0          0
2458626             84.0  ...      1598      455.0      4.0          0
2458627             14.0  ...      2694      855.0      8.0          0

         CANCELLATION_REASON  AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  \
0                        NaN               NaN             NaN            NaN
1                        NaN               0.0             0.0           19.0
2                          B               NaN             NaN            NaN
3                        NaN               NaN             NaN            NaN
4                        NaN               NaN             NaN            NaN
...                      ...               ...             ...            ...
2458623                  NaN               NaN             NaN            NaN
2458624                  NaN               0.0             0.0           47.0
2458625                  NaN              13.0             0.0           50.0
2458626                  NaN               0.0             0.0            0.0
2458627                  NaN              19.0             0.0            0.0

         LATE_AIRCRAFT_DELAY WEATHER_DELAY
0                        NaN           NaN
1                        0.0           0.0
2                        NaN           NaN
3                        NaN           NaN
4                        NaN           NaN
...                      ...           ...
2458623                  NaN           NaN
2458624                  0.0           0.0
2458625                  0.0           0.0
2458626                 69.0           3.0
2458627                 14.0           0.0

[2458628 rows x 25 columns]>

In [7]:
df_hdata['SCHEDULED_DEPARTURE'].head()

0    2019-03-01 00:01:00
1    2019-03-01 00:01:00
2    2019-03-01 00:01:00
3    2019-03-01 00:02:00
4    2019-03-01 00:02:00
Name: SCHEDULED_DEPARTURE, dtype: object

In [8]:
df_hdata['DATE_TIME'] = pd.to_datetime(df_hdata['SCHEDULED_DEPARTURE'], 
                            format='%Y-%m-%d', 
                            errors='coerce')

In [9]:
df_hdata['DATE_TIME'].head()

0   2019-03-01 00:01:00
1   2019-03-01 00:01:00
2   2019-03-01 00:01:00
3   2019-03-01 00:02:00
4   2019-03-01 00:02:00
Name: DATE_TIME, dtype: datetime64[ns]

In [10]:
df_hdata['DATE'] = df_hdata['DATE_TIME'].dt.date
df_hdata['TIME'] = df_hdata['DATE_TIME'].dt.time

In [11]:
df_hdata.sample()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,...,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE_TIME,DATE,TIME
827890,2019-04-23 18:05:00,18:03:00,22:55:00,22:50:00,WN,534,N602SW,LAX,DAL,-2.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-23 18:05:00,2019-04-23,18:05:00

In [12]:
#df_hdata['DATE'].value_counts()
#df_hdata['DATE'].value_counts().sort_index(ascending = False).plot(kind='barh')
#y_vars = [df_hdata['ORIGIN_AIRPORT'], df_hdata['AIRLINE']]
#  x_vars = df_hdata['DATE']
#  pd.crosstab(y_vars, x_vars)
#pd.crosstab(y_vars, x_vars).index.names

In [14]:
df_hdata.count()

SCHEDULED_DEPARTURE    2458628
DEPARTURE_TIME         2427857
SCHEDULED_ARRIVAL      2458628
ARRIVAL_TIME           2424831
AIRLINE                2458628
FLIGHT_NUMBER          2458628
TAIL_NUMBER            2454071
ORIGIN_AIRPORT         2458628
DESTINATION_AIRPORT    2458628
DEPARTURE_DELAY        2427857
TAXI_OUT               2426448
WHEELS_OFF             2426448
SCHEDULED_TIME         2458626
ELAPSED_TIME           2418528
AIR_TIME               2418528
DISTANCE               2458628
WHEELS_ON              2424831
TAXI_IN                2424831
CANCELLED              2458628
CANCELLATION_REASON      32528
AIR_SYSTEM_DELAY        466843
SECURITY_DELAY          466843
AIRLINE_DELAY           466843
LATE_AIRCRAFT_DELAY     466843
WEATHER_DELAY           466843
DATE_TIME              2458628
DATE                   2458628
TIME                   2458628
dtype: int64

In [15]:
df_hdata.isna().sum()

SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           30771
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             33797
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER               4557
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
DEPARTURE_DELAY          30771
TAXI_OUT                 32180
WHEELS_OFF               32180
SCHEDULED_TIME               2
ELAPSED_TIME             40100
AIR_TIME                 40100
DISTANCE                     0
WHEELS_ON                33797
TAXI_IN                  33797
CANCELLED                    0
CANCELLATION_REASON    2426100
AIR_SYSTEM_DELAY       1991785
SECURITY_DELAY         1991785
AIRLINE_DELAY          1991785
LATE_AIRCRAFT_DELAY    1991785
WEATHER_DELAY          1991785
DATE_TIME                    0
DATE                         0
TIME                         0
dtype: int64

In [16]:
df_hdata.shape

(2458628, 28)

In [19]:
drop_data = df_hdata.dropna(thresh=0.8*len(df_hdata), axis = 1)

In [20]:
drop_data.shape

(2458628, 22)

In [21]:
df_hdata.dtypes

SCHEDULED_DEPARTURE            object
DEPARTURE_TIME                 object
SCHEDULED_ARRIVAL              object
ARRIVAL_TIME                   object
AIRLINE                        object
FLIGHT_NUMBER                   int64
TAIL_NUMBER                    object
ORIGIN_AIRPORT                 object
DESTINATION_AIRPORT            object
DEPARTURE_DELAY               float64
TAXI_OUT                      float64
WHEELS_OFF                    float64
SCHEDULED_TIME                float64
ELAPSED_TIME                  float64
AIR_TIME                      float64
DISTANCE                        int64
WHEELS_ON                     float64
TAXI_IN                       float64
CANCELLED                       int64
CANCELLATION_REASON            object
AIR_SYSTEM_DELAY              float64
SECURITY_DELAY                float64
AIRLINE_DELAY                 float64
LATE_AIRCRAFT_DELAY           float64
WEATHER_DELAY                 float64
DATE_TIME              datetime64[ns]
DATE                           object
TIME                           object
dtype: object